{% extends 'organization/base.html' %}

{% block title %}پیش فاکتور جدید{% endblock %}

{% block content %}
    <div class="container-fluid" dir="rtl">
        <div class="d-flex align-items-center py-5">
            <div class="col-12 col-md-6 col-lg-4 mx-auto">

                <form action="" method="post">
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    {% csrf_token %}

                    {{ form.non_form_errors }}

                    {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    {% endfor %}

                    <p class="pt-2">
                        <button type="submit" class="btn btn-primary w-100 mb-2">ثبت پیش فاکتور</button>
                        <a href="{% url 'quote:main' %}" role="button" class="btn btn-secondary w-100">لغو</a>
                    </p>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}