{% extends 'organization/base.html' %}
{% block title %}{{ quote.organization_name }}{% endblock %}
{% block content %}
    <table class="table table-striped" dir="rtl">
        <thead>
        <tr>
            <th scope="col">دستگاه</th>
            <th scope="col">تعداد</th>
            <th scope="col">قیمت</th>
            <th scope="col">مشمول مالیات است؟</th>
        </tr>
        </thead>
        {% for qi in object.quote_item.all %}
            <tbody>
            <tr>
                <td>{{ qi.product_name }}</td>
                <td>{{ qi.quantity }}</td>
                <td>{{ qi.product_name.price }}</td>
                {% if qi.product_name.tax %}
                    <td>بله</td>
                {% else %}
                    <td>خیر</td>
                {% endif %}
            </tr>
            </tbody>
        {% empty %}
            <li dir="rtl">هنوز هیچ دستگاهی ثبت نشده است</li>
        {% endfor %}
    </table>
    <table class="table table-striped" dir="rtl">
        {% if form.forms|length < 1 %}
            <thead>
            <tr>
                <th scope="col">قیمت پایه</th>
                <th scope="col">قیمت با احتساب مالیات</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ quote.total_price }}</td>
                <td>{{ quote.total_price_with_tax }}</td>
            </tr>
            </tbody>
        {% endif %}
    </table>
    <p>
        <a href="{% url 'quote:quote-list' %}" role="button" class="btn btn-secondary w-100">لیست پیش فاکتور
            ها</a>
    </p>


{% endblock content %}