{% extends 'organization/base.html' %}
{% block title %}لیست فاکتور ها{% endblock %}
{% block content %}
    <table class="table table-striped" dir="rtl">
        <thead>
        <tr>
            <th scope="col">پیش فاکتور برای</th>
            <th scope="col">ارسال ایمیل</th>
            <th scope="col">حذف پیش فاکتور</th>
            <th scope="col">ویرایش پیش فاکتور</th>
        </tr>
        </thead>

        {% for q in quote_list %}
            <tbody>
            <tr>
                <td>
                    <a class="text-reset" href="{{ q.get_absolute_url }}">{{ q.organization_name }}</a>
                </td>
                <td><a href="{% url 'quote:quote-mail' pk=q.pk %}">📧</a></td>
                <td><a href="{% url 'quote:quote-del' pk=q.pk %}">❌</a></td>
                <td><a href="{% url 'quote:quote-edit' pk=q.pk %}">✏</a></td>
            </tr>
            </tbody>
        {% empty %}
            <li dir="rtl">هنوز هیچ گزارشی ثبت نشده است</li>
        {% endfor %}
    </table>

{% endblock content %}
