{% extends 'organization/base.html' %}
{% block page_header_title %}
    {{ object.name }}
{% endblock %}
{% block content %}
    <div class="container" dir="rtl">
        <div class="row">
        </div>
        <div class="row">
            <table style="width:68%" dir="rtl">
                <tr style="color: #0bba98">
                    <th class="">مشخصات سازمان</th>
                </tr>
                <tr>
                    <th class="ml-5">نام سازمان</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th>استان</th>
                    <td>{{ object.province }}</td>
                </tr>
                <tr>
                    <th>تلفن</th>
                    <td>{{ object.phone_number }}</td>
                </tr>
                <tr>
                    <th>تعداد کارگران</th>
                    <td>{{ object.number_of_employees }}</td>
                </tr>
                <tr>
                    <th>محصولات سازمان</th>
                    <td dir="">{% for p in object.organization_product.all %}{{ p }},{% endfor %}</td>
                </tr>
                <tr>
                    <th>ایمیل</th>
                    <td>{{ object.email }}</td>
                </tr>
            </table>
        </div>
        <div class="row mt-5">
            <table style="width:60%" dir="rtl">
                <tr style="color: #0bba98">
                    <th class="">مشخصات مخاطب</th>
                </tr>
                <tr>
                    <th>نام مخاطب</th>
                    <td>{{ object.audience_full_name }}</td>
                </tr>
                <tr>
                    <th>تلفن مخاطب</th>
                    <td>{{ object.audience_phone_number }}</td>
                </tr>
            </table>
        </div>
        <div class="row mt-5 mb-4">
            <table style="width:60%" dir="rtl">
                <tr>
                    <th style="color: #0bba98" class="">محصولات پیشنهادی</th>
                    <td>{% for s in object.suggestion %}{{ s }},{% endfor %}</td>
                </tr>
            </table>
        </div>
    </div>
    <table class="table table-striped" dir="rtl">
        <thead>
        <tr>
            <th scope="col">لیست پیگیری های ثبت شده</th>
            <th scope="col">تاریخ ثبت</th>
            <th scope="col">حذف گزارش</th>
        </tr>
        </thead>

    {% for followup in object.followup_set.all %}
        <tbody>
        <tr>
            <td>
                <a href="{% url 'followup:detail' followup.slug %}">{{ followup.descriptions | truncatechars:15 }}</a>
            </td>
            <td>{{ followup.created_at.date }}</td>
            <td><a href="{% url 'followup:delete' followup.slug %}">❌</a></td>
        </tr>
        </tbody>
        </table>
    {% empty %}
        <li dir="rtl">هنوز هیچ گزارشی ثبت نشده است</li>
    {% endfor %}

{% endblock %}