{% extends 'organization/base.html' %}
{% block page_header_title %}
    {{ object.name }}
{% endblock %}
{% block content %}
    <div class="container" dir="rtl">
        <div class="row">
        </div>
        <div class="row">
            <table style="width:68%" dir="rtl">
                <tr style="color: #0bba98">
                    <th class="">مشخصات گزارش</th>
                </tr>
                <tr>
                    <th class="ml-5">نام سازمان</th>
                    <td>{{ object.organization_name }}</td>
                </tr>
                <tr>
                    <th>ثبت کننده</th>
                    <td>{{ object.creator }}</td>
                </tr>
                <tr>
                    <th>تاریخ ثبت</th>
                    <td>{{ object.created_at.date }}</td>
                </tr>
                <tr>
                    <th>زمان ثبت</th>
                    <td>{{ object.created_at.time }}</td>
                </tr>
                <tr>
                    <th>متن گزارش</th>
                    <td>{{ object.descriptions }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}